---
import {Icon} from 'astro-icon';
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---
<a {...storyblokEditable(blok)} title={blok.title} href={blok.url}><Icon name={blok.name}></Icon></a>

<style>
a {
  @apply mr-2
}
</style>
